* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: color .1s;
  &:hover{
    color: $highlight;
  }
}
p{
  margin: 0;
}

.highlight {
  color: $highlight;
}

.site_section {
  width: 100%;
  height: 100vh;
}

.limiter {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

.half_wrapper {
  width: calc(50% - 75px);
  height: 100%;
}

.minimized_button{
  min-height: auto;
  line-height: normal;
  padding: 0;
  flex-wrap: nowrap;
  .q-btn__content{
    line-height: normal;
  }
}
