$primary: #000000;
$secondary: #ffffff;
$highlight: #6bb1ef;
$darkHighlight: #0C98BB;

$section-grey: #F8F8F8;

.text-highlight {
  color: $highlight !important;
}
.bg-highlight{
  background: $highlight !important;
}
.text-darkHighlight {
  color: $darkHighlight !important;
}
.bg-darkHighlight{
  background: $darkHighlight !important;
}

$borderRadius: 10px;
$borderLight: #E0E0E0;
$borderDark: #BDBDBD;
